{% extends '@AwardWalletMain/layout.html.twig' %}
{% form_theme form with ['form_table_layout.html.twig'] %}

{% block content %}
    <div style="width: 300px; float: left;">
        {{ form(form) }}
        <div>
            <a href="https://github.com/AwardWallet/parserbox-web/blob/master/doc/extension-v3.md" target="_blank">Смотри инструкцию в doc/extension-v3.md</a>
        </div>
    </div>
    {{ constant('AwardWallet\\ExtensionWorker\\ParserLogger::STYLESHEETS') | raw }}
    <div id="log">

    </div>

    <div id="extension-install" style="display: none">
        <h2>Установите browser extension</h2>
        <ul>
            <li>Откройте в chrome страницу chrome://extensions/</li>
            <li>Включите режим разработчки (Developer mode) в правом верхнем углу</li>
            <li>Нажмите "Load unpacked"</li>
            <li>Выберите папку node_modules/@awardwallet/extension-v3/dist/development</li>
        </ul>
    </div>

    <script type="module">
        import {checkExtensionInstalled} from "/js/compiled/debug-extension.js"
        import {connectExtensionChannel} from "/js/compiled/debug-extension.js"
        import {connectLog} from "/js/compiled/debug-extension.js"
        let installed = await checkExtensionInstalled()
        {% if session is not empty %}
        if (installed) {
            connectExtensionChannel(
                    {{ session.centrifugoJwtToken | json_encode | raw }},
                    {{ session.sessionId | json_encode | raw }}
            )
        }
        {% endif %}
        {% if debugConnectionToken is not empty %}
        connectLog({{ debugConnectionToken | json_encode | raw }})
        {% endif %}
    </script>
    {% if requestId is not empty %}
        <iframe src="{{ path("run_extension", {"requestId" : requestId}) }}" width="90%" height="600" style="border: none;"></iframe>
    {% endif %}
{% endblock %}
